.single-page-info > h5 >span {
    color: #747474;
    font-size: 15px;
    font-weight: normal;
}
.member {
    height: auto;
    display: inline-block;
}
.member img {
    width: 50px;
    height: 50px;
    display: block;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
}
.label-warning, .label-info {
    font-size: 1.5em;
}
.sngl-title {
    margin-bottom: 4em;
}
.single-page h4 {
    font-weight: normal;
    font-style: normal;
    font-family: inherit;
}
.coment-form textarea {
    font-size: 15px;
}
.join input {
    background: #F3F3F3;
    padding: .8em 0;
    border: none;
    width: 100%;
    margin-bottom: 1em;
    font-size: 15px;
    color: #9C9CA0;
    letter-spacing: 0.5px;
    outline: none;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}
.join input[type="submit"]:hover {
    color: #fff;
    background: #5F9EA0;
    outline: none;
}
.comment-icons {
    margin: 2.5em 0 1em 0;
}
.sweet-alert h2 {
    margin-top: 1em;
}
/*����*/
.icon-right-name p {
    float: left;
    width: 50%;
}
.single-page-info label {
    font-weight: normal;
    color: #5F9EA0;
}
.timeRange input{
    width: auto;
    float: left;
    margin-right: 15px;
}
.type select option {
    padding             : 4px 10px 4px 10px;
    font-size           : 11pt;
    font-weight         : normal;
}
#guides, #competers, #tolink {
    display: none;
}
.comment-icons {
    padding: 1.0em 2.0em;
}
.tags {
    float: left;
    padding-left: 0;
}
.tags >span {
    display: block;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
}
.tags .glyphicon {
    cursor: pointer;
    margin-right: 5px;
}
.addtag {
    float: left;
    margin-left: -15px;
}
.addtag input {
    width: 50%;
}
.addtag button, .addtag input {
    float: left;
    margin-right: 10px;
}
#guideLabel {
    display: none;
}
.content .btn.btn-default {
    font-size: small;
     border: 1px solid #fff;
     background-color: #fff;
     color: #5e5e5e;
}
.panel-body p{
    color: #000;
    font-size: inherit;
}
.tour-info .form-control {
    border-radius: 0;
}